<%= render partial: "/shared/end_of_game" %>
<%= render partial: "/shared/qAndA" %>
<%= render partial: "/shared/whiteboard_panel" %>
<div id="info" data-source=<%= get_round_data_game_guesser_path(params[:game_id], params[:id]) %>
     data-submit_question=<%= submit_question_game_guesser_path(params[:game_id], params[:id])%>
     data-submit_answer=<%= submit_answer_game_guesser_path(params[:game_id], params[:id])%>
     data-role="guesser"
     data-wb_head_refresh_path=<%= refresh_whiteboard_head_game_guesser_path(params[:game_id], params[:id])%>
     data-wb_tail_refresh_path=<%= refresh_whiteboard_tail_game_guesser_path(params[:game_id], params[:id])%>
     >
</div>
